/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

 :root {
  --color-primary: #007bff; /* Define una variable llamada "--color-primary" con un valor de color hexadecimal */
  --color-secondary: #ff5722; /* Define otra variable llamada "--color-secondary" */
  --color-background-1: #f0f0f0;
  --color-background-2: #ecf0f1;

  --fondo2:#e67e22;
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
  background-color: var(--color-background-2);
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#fondo1{
  background-color: var(--color-primary);
}
#fondo2{
  background-color: var(--fondo2);
}

#fondo3{
  background-color: #e74c3c;
}
#fondo4{
  background-color: #1abc9c;
}
#fondo5{
  background-color: #ecf0f1;
}
#fondo6{
  background-color: #9b59b6;
}
#fondo7{
  background-color: #f39c12;
}
#fondo8{
  background-color: #d35400;
}
.flex-container {
  display: flex;
  justify-content: center; 
  align-items: center; 
  height: 100%;
}

.flex-content {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

}
#content-wrapper, #sections-wrapper {
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

#sections-wrapper .scrollContent{
  height: 100%;
  /* overflow-y: scroll; */
}

section#titlechart {
  text-align: center;
  position: relative;
  height: 100%;
  min-height: 500px;
  min-width: 100%;
  height: 100vh;
  overflow: hidden;
}

   .parallaxParent {
		height: 100vh;
		overflow: hidden;
	}
	.parallaxParent > * {
		height: 200%;
		position: relative;
		top: -100%;
	}

  .parallax-content{
    position: absolute;
    color: white;
    top: 0%;
    margin: 1em;
    text-align: justify;
    z-index: 2;
  }
  #fondo-azul1{
    width: 100vw; /* Ancho de los lados más largos */
    height: 40vh; /* Alto de los lados más largos */

    transform: translateY(10vh) skew(0,-10deg); /* Rotación */
    overflow: hidden;
    background: linear-gradient(0deg, var(--color-primary) 20%, #3261A9 98%);

    display: flex;
    align-items: center;
    justify-content: center;
  }
/* ==========================================================================
   Helper classes
   ========================================================================== */
   .img-scale40{
    width: 45%;
    max-width: 100%;
   }
   .img-scale60{
    width: 60%;
    max-width: 100%;
   }
   .img-scale80{
    width: 80%;
    max-width: 100%;
   }

.flex-column {
  flex-direction: column;
}

.title1{
  text-align: center;
    text-transform: uppercase;
    font-size: 3.8em;
}
.title2{
  text-align: center;
    text-transform: uppercase;
    font-size: 2.8em;
    line-height: 1;
}

.subtitulos{
  font-size: 1.3em;
    word-spacing: -0.2em;
  /* line-height: 1; */
}

.parrafo1{
  text-align: justify;
  font-size: 1.3em;
}
.parrafo1-centrado{
  text-align: center;
    font-size: 1.5em;
}
/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

