section#titlechart.flex-container.flex-column.panel
  .flex-content
    img.img-scale40(src="img/icono.webp" style="margin-top:5vh")
    h2.animate__animated.animate__bounce(style="font-size: 2rem") Con Mario Erazo la juventud AVANZA
    img.img-scale40(src="img/mario-logo.webp")
    div#fondo-azul1
      img.img-scale60(src="img/slogan-blanco.webp" style="transform: skew(0deg, 10deg);margin-top: -15vh;")
    
