include mixins.pug 

div#parallax1.parallaxParent
  #fondo1
    div.parallax-content
      h3.title1 Todos por Sibundoy 
      p.parrafo1-centrado
        | CONFIAMOS en los jóvenes, en su talento transformador, en sus ideas de cambio y en su 
        | persistencia para conquistar diferentes escenarios del municipio, el departamento, el país 
        | y el mundo.

div#parallax2.parallaxParent
  #fondo2
    div.parallax-content
      h3.title1 Ley Estatutaria 1885 de 2018
      h4.subtitulos POR LA CUAL SE MODIFICA LA LEY ESTATUTARIA 1622 DE 2013 Y SE DICTAN OTRAS DISPOSICIONES.
      p 
        |ARTÍCULO 5. Definiciones. Para efectos de la presente ley se entenderá como:
        | Joven. Toda persona entre 14 y 28 años cumplidos en proceso de consolidación de 
        | su autonomía intelectual, física, moral, económica, social y cultural que hace parte 
        | de una comunidad política y en ese sentido ejerce su ciudadanía.
      
      .titulo-anotacion LA UNESCO Y LA JUVENTUD
      p Según el criterio de las Naciones Unidas, se considera jóvenes a las personas con edades comprendidas entre los 15 y los 24 años. Por lo tanto, los jóvenes constituyen un 18% de la población mundial y los asuntos relacionados con ellos son, por excelencia, un motivo de preocupación. Sin embargo, la tarea de definir debidamente a la juventud genera una gran polémica y no recibe toda la atención que merece.

div#parallax3.parallaxParent
  #fondo3
    div.parallax-content
      img.img-scale80(src="img/Imagen1.png" )
      div 
      img.img-scale80(src="img/Imagen2.png" )

div#parallax4.parallaxParent
  #fondo4
    div.parallax-content
      img.img-scale80(src="img/Imagen3.png" )
      


div#parallax5.parallaxParent
  #fondo5
    div.parallax-content
      .title2 Aproximadamente 5.000 habitantes pertenecen a la población joven.
      .text-1 Sibundoy = 16.700 habitantes
      .text-1 Aproximadamente 30% es población joven.
      .text-2 Medir las realidades de los jóvenes del municipio para así crear programas, proyectos, políticas, acciones y alianzas publico privadas que aporten al desarrollo integral de la juventud.
      .text-1 ¿Que necesitan los jóvenes del municipio?

div#parallax6.parallaxParent
  #fondo6
    div.parallax-content
      .title2 Cada día menos Jóvenes tienen un camino educativo exitoso
      .text-1 Dificulta el acceso a empleo y por lo tanto disminuye la posibilidad a mayores ingresos económicos
      .text-1 A mayor nivel educativo, disminuye la tasa de desempleo para los jóvenes, especialmente con bachillerato completo.
      .text-1 La mayor cantidad de emprendimientos, distribuidos por actividades comerciales son: comercio, alimentos, servicios y belleza.
      .text-1 La educación, el emprendimiento, el acceso a oportunidades laborales, a la cultura y la participación son habilitadores para el progreso social de nuestros jóvenes
      .text-1 Garantizaremos oportunidades de educación y emprendimiento para los jóvenes.


div#parallax7.parallaxParent
  #fondo7
    div.parallax-content
      H3 Garantizaremos oportunidades de educación y emprendimiento para los jóvenes.
      text-1 Emprendimiento-Empleabilidad. Becas, cursos, certificaciones, educación superior.



      div buscar imagen



      